@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Dodatkowe accessibilty */
.nav-list button:focus,
.arrow:focus {
  outline: 2px solid var(--gold-color);
  outline-offset: 4px;
}

.hamburger:focus {
  outline: 2px solid var(--gold-color);
  outline-offset: 4px;
  border-radius: 4px;
}

:root {
  --main-color: #1f2041;
  --white-color: #fff;
  --gold-color: #d4af37;
  --active-item-color: #adb6c4;
  --nav-border-color: #f9f9f9;
  --form-project-details-color: #7e7e7e;
}

body {
  margin: 0 auto;
  font-family: "League Gothic", sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: var(--main-color);
}

#main {
  margin: 0 auto;
}

#footer {
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  padding: 3.75rem 1.125rem;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 84px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 84px 0;
}

.container {
  max-width: 1200px;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  align-self: flex-end;
}

.hamburger .bar {
  width: 2.344rem;
  height: 0.188rem;
  background-color: var(--white-color);
  margin: 0.5rem;
  border-radius: 8px;
}

.hamburger.open .bar {
  background-color: var(--gold-color);
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: block;
}

.logo-mobile,
.logo-desktop {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.gold {
  color: var(--gold-color);
}

.grey {
  color: var(--active-item-color);
}

#nav {
  position: relative;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 10px 16px 26px 16px;
  margin: 0 auto;
}

.nav-list-container {
  display: none;
  background-color: var(--main-color);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--nav-border-color);
  border-bottom: 1px solid var(--nav-border-color);
}

.nav-list {
  padding: 28px 167px 28px 51px;
  display: flex;
  width: 168px;
  list-style-type: none;
  flex-direction: column;
  gap: 1.875rem;
  font-size: 1rem;
}

.nav-list-container.show {
  display: flex;
}

.nav-list button {
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 1rem;
  width: max-content;
  text-transform: uppercase;
}

.nav-list button.active {
  color: var(--active-item-color);
}

.header {
  color: var(--white-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 6rem;
}

.header-subtitle {
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

#main {
  background-color: var(--white-color);
}

/* O mnie START*/
.about-section {
  margin: 0 auto;
  background-color: var(--white-color);
}

.about-container {
  max-width: 958px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about-photo {
  width: 100%;
  max-height: 311px;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 65px;
}

.about-section .heading {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.about-heading {
  margin-bottom: 1.063rem;
  width: 100%;
}

.about-desc {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.skills-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills-heading {
  width: 100%;
  margin-bottom: 2rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  list-style: none;
  width: 100%;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.skill-img {
  width: 100%;
  object-fit: contain;
}

.skill-row {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-family: "Roboto", sans-serif;
}

.skill-name {
  font-size: 1rem;
}

.experience-years {
  font-size: 0.85rem;
  color: var(--active-item-color);
}

.dots-container {
  display: flex;
  gap: 0.75rem;
}

.dots-container span {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.dots-container span.filled {
  background-color: var(--main-color);
}

.dots-container span.empty {
  background-color: transparent;
}

/* O mnie END*/

/* Projekty START*/
.projects-section {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
}

.carousel-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 41px;
  width: 100%;
}

.project-card {
  position: relative;
  width: 100%;
  max-width: 360px;
  min-width: 300px;
  height: 460px;
  border-radius: 1rem;
  background-image: url("/img/projectbgi.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.project-details {
  padding: 25px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.project-card-tech-list {
  font-size: 1rem;
  font-weight: 400;
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carousel-controls {
  display: flex;
  gap: 3.438rem;
  margin: 5.25rem 0;
  justify-content: center;
}

.arrow {
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--active-item-color);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
}

.arrow-prev {
  transform: rotate(180deg);
}

/* Projekty END*/

/* Footer START*/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer-nav {
  display: none;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.footer-contact a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-contact a:hover {
  color: var(--gold-color);
}

.footer-logo {
  width: 100%;
  font-size: 1.688rem;
  letter-spacing: 2px;
  color: var(--active-item-color);
}

.footer-logo .gold {
  color: var(--gold-color);
}

.footer-logo .grey {
  color: var(--active-item-color);
}

.footer-logo .white {
  color: var(--white-color);
}

/* Footer END*/

/* Podstrony */

/* Podstrona Projects START */

.add-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 84px 0;
}

.add-project-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 240px;
  height: 60px;
  padding: 15px 49px;
  background-color: var(--active-item-color);
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delete-btn {
  position: absolute;
  bottom: 18px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--nav-border-color);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-window {
  background-color: var(--white-color);
  width: 90%;
  max-width: 800px;
  padding: 40px;
  position: relative;
}

.close-x {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
  font-size: 1rem;
}

.form-row label {
  width: 120px;
  color: var(--main-color);
  font-weight: 500;
  padding-top: 10px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.input-wrapper input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  border-bottom: 2px solid var(--main-color);
  font-family: "Roboto", sans-serif;
  color: var(--form-project-details-color);
  font-weight: 400;
}

.error-msg {
  color: #d93025;
  font-size: 0.75rem;
  display: block;
  margin-top: 4px;
  min-height: 15px;
}

.modal-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  background-color: var(--active-item-color);
  border: none;
  padding: 15px 49px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  max-width: 240px;
  max-height: 60px;
}

.modal-submit-btn img {
  width: 16px;
  height: 16px;
}

.about-page-container {
  margin: 0 auto;
}

.about-hero-img {
  width: 100%;
  height: 311px;
  max-height: 311px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 4rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-text-section {
  margin-bottom: 3.5rem;
  /* font-family: "Roboto", sans-serif; */
}

.about-text-section h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.about-text-section p {
  font-size: 1rem;
  color: var(--main-color);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.contact-redirect-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contact-redirect-btn {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: var(--active-item-color);
  color: var(--main-color);
  border: none;
  padding: 15px 49px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-icon {
  width: 16.25px;
  height: auto;
  transform: rotate(90deg);
}

/* Podstrona Contact START */

.contact-section {
  margin: 0 auto;
}

.contact-main-heading {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--main-color);
  margin-bottom: 27px;
}

.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 2px solid var(--main-color);
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #7e7e7e;
  outline: none;
}

.message-group {
  width: 100%;
}

.form-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-submit-btn {
  background-color: var(--active-item-color);
  color: var(--main-color);
  border: none;
  border-radius: 8px;
  padding: 15px 49px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 80px;
}

/* Podstrona Contact END */
/* Podstrona Projects END */

@media (min-width: 768px) {
  .wrapper {
    padding: 84px 0;
  }
  .nav-wrapper {
    padding-top: 37px;
  }

  .about-container {
    gap: 0;
  }

  .about-desc {
    margin-bottom: 40px;
  }

  .skills-heading {
    margin-bottom: 30px;
  }

  .nav-list-container {
    display: flex;
    position: static;
    width: auto;
    background: none;
    border: none;
  }

  .nav-list button:hover {
    color: var(--gold-color);
    transition: color 0.3s ease;
  }

  .arrow:hover {
    transform: scale(1.05);
  }
  .nav-list button,
  .arrow,
  .hamburger {
    cursor: pointer;
  }

  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    height: 40px;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    position: static;
    padding: 0;
    box-shadow: none;
    width: auto;
    border-top: none;
    border-bottom: none;
  }

  .about-photo {
    width: 100%;
    height: 755px;
  }

  .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem 1.65rem;
  }

  /* Footer START */

  #footer {
    padding: 0;
  }

  .footer-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1260px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 120px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    margin-bottom: 90px;
  }

  .footer-nav button {
    background: none;
    border: none;
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
  }

  .footer-nav button.active {
    color: var(--active-item-color);
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 30px;
  }

  .footer-contact {
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .footer-contact a {
    font-size: 1.1rem;
    font-weight: 700;
  }

  /* Footer END */
}

@media (min-width: 1024px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .arrow-prev {
    transform: rotate(-90deg);
  }
  .arrow-next {
    transform: rotate(90deg);
  }
}
