@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1f2041;
  --white-color: #fff;
  --gold-color: #d4af37;
  --active-item-color: #adb6c4;
}

body {
  font-family: "League Gothic", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--main-color);
}

#header {
  width: 100%;
  height: 500px;
}

#nav {
  position: relative;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
  z-index: 2;
}

.container {
  padding: 0.625rem 1rem;
}

.hamburger {
  display: block;
  background: none;
  border: none;
}

.hamburger .bar {
  width: 2.344rem;
  height: 0.188rem;
  background-color: var(--white-color);
  margin: 0.5rem;
  border-radius: 8px;
}

.hamburger.open .bar {
  background-color: var(--gold-color);
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: block;
  height: 1.582rem;
}

.nav-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  gap: 1.875rem;
  padding: 1.875rem 0 1.875rem 2.313rem;
  background-color: var(--main-color);
}

.nav-list.show {
  display: flex;
}

.nav-list button {
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 1rem;
  width: max-content;
  text-transform: uppercase;
}

.nav-list button.active {
  color: var(--active-item-color);
}

.header {
  margin-top: 3.563rem;
  color: var(--white-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-heading {
  font-weight: 400;
  font-size: 6rem;
}

.header-paragraph {
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

#main {
  background-color: var(--white-color);
}

.about-image {
  margin-top: 5.25rem;
}

.about-image img {
  width: 100%;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    height: 40px;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
    box-shadow: none;
    width: auto;
  }
}
