@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1f2041;
}

body {
  font-family: "League Gothic", sans-serif;
}

#header {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: block;
  height: 1.582rem;
}

.hamburger {
  display: block;
}

#nav {
  background-color: rgb(255, 2, 2);
}

.logo {
  background-color: #ffffff00;
}

.nav-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: none;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
